<?xml version="1.0" encoding="UTF-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->

  <connectionStrings>
    <add name="conn" connectionString="Data Source=.;Initial Catalog=VIPCustomer;User id=sa;pwd=123456;" />
  </connectionStrings>
  <appSettings>
    <add key="uploadPath" value="F:\VIPCustomer\Upload" />
    <add key="uploadTempPath" value="F:\VIPCustomer\UploadTemp" />
    <!--默认录入交车最后日，默认值1（设置为0为不限制录入）,也就是每月1日以后不允许录入上月交车信息，设置值为小于模式，设置日不可录入-->
    <add key="defaultReportCarDay" value="4" />


    <!--直接经销店提交到大客户室-->
    <add key="directSubmitOrders" value="true" />
    <add key="attachRequireSale" value="[{'FN_PurchaseType':'政府采购','Cartype':'COASTER','Require':'6,9'},{'FN_PurchaseType':'!政府采购','Cartype':'COASTER','Require':'6,9,A'},{'客户性质':'公务员','Require':'6,7,8'}]"/>
    <add key="attachRequireOrder" value="[{'FN_PurchaseType':'政府采购','Cartype':'COASTER','Require':'6,9'},{'FN_PurchaseType':'!政府采购','Cartype':'COASTER','Require':'6,9,A'},{'客户性质':'公务员','Require':'6,7,8'}]" />

    <add key="uploadPath" value="F:\VIPCustomer\Upload" />
  </appSettings>
  <system.web>
    <authentication mode="Forms">
      <forms name="ZHAOJIAN" timeout="1440" loginUrl="Login.html"></forms>
    </authentication>
    <authorization>
      <allow users="*" />
    </authorization>
    <compilation debug="true" targetFramework="4.5.2" />
    <pages controlRenderingCompatibilityVersion="4.0" />
    <!--默认录入交车最后日，默认值1（设置为0为不限制录入）,也就是每月1日以后不允许录入上月交车信息，设置值为小于模式，设置日不可录入-->
  </system.web>
    <system.webServer>
        <handlers accessPolicy="Read, Execute, Script">
            <remove name="ISAPI-dll" />
            <add name="ISAPI-dll" path="*.dll" verb="GET,HEAD,POST,TRACE" modules="IsapiModule" scriptProcessor="D:\个人文件夹\项目文件\VIPCustomer\bin\WebApplication1.dll" resourceType="File" requireAccess="Execute" allowPathInfo="true" preCondition="bitness32" />
            <add name="html" path="*." verb="GET,POST" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" resourceType="File" preCondition="classicMode,runtimeVersionv4.0,bitness64" />
        </handlers>
        <defaultDocument>
            <files>
                <add value="login.html" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
